<li class="list-none flex gap-2">
  <div class="border-4 w-40 h-40 bg-black">
  </div>
  <div class="border-4 flex-grow px-2 flex flex-col">
    <h3><%= user.name %></h3>
    <div class="flex gap-2 justify-end">
      <p>Number of posts:</p>
      <p><%= user.posts_count %></p>
    </div>
  </div>
</li>