<div class="flex flex-col gap-4">
<h1>Users</h1>
<ul id="users">
  <% @users.each do |user| %>
  <%= link_to user, class:"cursor-pointer" do%>
    <%= render partial:'partials/user_listing', locals: {user: user}%>
  <% end %>
  <% end %>
</ul>

