<%= render partial: "partials/user_listing", locals: {user: @user}%>
<%= render partial: "partials/user_details"%>
<div class="flex justify-center m-4">
  <%= link_to "Back to users", users_path, class:"cursor-pointer"%>
</div>
